* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('../img/b3.jpg') no-repeat center center/cover;
}

.container {
    display: flex;
    width: 100%;
    max-width: 800px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.left-section {
    background: url('../img/tapiz_index.jpg');
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff; /* Color para el texto */
}

.left-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.left-section p {
    font-size: 16px;
    text-align: center;
    max-width: 250px;
}

.right-section {
    flex: 1;
    background-color: rgba(46, 59, 78, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login-box {
    width: 100%;
    max-width: 300px;
}

.login-box h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.login-box input {
    padding: 12px 20px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #3b4b61;
    color: #fff;
}

.login-box input::placeholder {
    color: #b5b5b5;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra la casilla */
    color: #fff;
    margin-bottom: 25px; /* Aumenta el margen para separación */
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    background-color: #a5a5a5; /* Color más claro para el botón */
    color: #fff; /* Cambiar el color del texto a blanco */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Asegura que el botón ocupe todo el ancho */
}

button:hover {
    background-color: #84c2d3; /* Color más intenso al pasar el mouse */
}

.forgot-password {
    color: #3dd6c1;
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
}

.sign-up {
    color: #b5b5b5;
    text-align: center;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    font-size: 14px;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        height: auto;
    }

    .left-section {
        display: none; /* Ocultar la sección izquierda en dispositivos pequeños */
    }

    .right-section {
        padding: 20px;
    }

    .login-box {
        max-width: 90%;
    }
}
