{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        canvas {
            max-width: 600px;
            margin: 20px auto;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .chart-container {
            width: 45%;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Dashboard Admin</h1>

    <div class="container">
        <div class="chart-container">
            <canvas id="edadChart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="probabilidadHistogramaChart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="generoProbabilidadTortaChart"></canvas>
        </div>
    </div>

    <a href="{% url 'register' %}">Registrar un usuario para la página</a>
    <br>
    <a href="{% url 'listar_pacientes' %}">Listar pacientes</a>

    <script id="edadData" type="application/json">{{ edadData|safe }}</script>
    <script id="generoData" type="application/json">{{ generoData|safe }}</script>
    <script id="probabilidadData" type="application/json">{{ probabilidadData|safe }}</script>

    <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
