{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <style>
        body {
            background-color: #343a40; /* Color del fondo ajustado */
            margin: 0;
            height: 100vh; /* Para asegurar que cubre toda la pantalla */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Media query to handle the icon moving in small screens */
        @media (max-width: 760px) {
            .left-section {
                display: none; /* Hide left section */
            }
            .logo {
                display: block; /* Show logo in the right section */
                text-align: center;
                margin-bottom: 20px;
            }
        }
    </style>
</head>

<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row w-100">
            <!-- Left section will be hidden on small screens -->
            <div class="col-md-6 left-section d-none d-md-flex">
                <div class="logo mb-4">
                    <img src="{% static 'img/pulmon_icon2.png' %}" alt="Logo" style="height: 150px; width: auto; transition: filter 0.3s ease;" onmouseover="this.style.filter='invert(1)'" onmouseout="this.style.filter='invert(0)'">
                </div>
                <h1 style="color: white;">OncoLungNet</h1>   
                <p style="font-family: Arial, sans-serif; font-size: 18px; font-style: italic; text-align: justify; padding: 20px; color: white;">
                    Detectar el cáncer de pulmón a tiempo es posible. Elige cuidar tu salud y abre la puerta a un futuro más saludable y pleno.
                </p>
            </div>
            <div class="col-md-6 right-section">
                <div class="login-box">
                    <!-- Logo will be moved here for small screens -->
                    <div class="logo mb-4 d-md-none">
                        <img src="{% static 'img/pulmon_icon2.png' %}" alt="Logo" style="height: 150px; width: auto; transition: filter 0.3s ease;" onmouseover="this.style.filter='invert(1)'" onmouseout="this.style.filter='invert(0)'">
                    </div>
                    <h2 style="color: white;">Iniciar sesión</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="text" class="form-control" placeholder="Email o Nombre de Usuario" name="username" required>
                        <input type="password" class="form-control" placeholder="Contraseña" name="password" required>
                        <div class="remember-me form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="remember" name="remember">
                            <label class="form-check-label" for="remember" style="margin-left: 10px; color: white;">Recordarme</label>
                        </div>
                        <button type="submit" class="btn" 
                        style="background-color: #50dde2; color: #fff; cursor: pointer; transition: background-color 0.3s, color 0.3s;" 
                        onmouseover="this.style.backgroundColor='#fff'; this.style.color='#50dde2';" 
                        onmouseout="this.style.backgroundColor='#50dde2'; this.style.color='#fff';">
                        Iniciar sesión
                    </button>
                    <a href="{% url 'password_reset' %}" class="forgot-password" style="color: #fff;">¿Olvidaste tu contraseña?</a>
                    </form>
                    {% if messages %}
                        <ul class="list-unstyled mt-3">
                        {% for message in messages %}
                            <li class="text-danger">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <a href="" class="sign-up" style="color: #fff;">Regístrate</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
