{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OncoLungNet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/test.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Header -->
    <header class="container-fluid bg-light py-2">
        <div class="container d-flex flex-column flex-lg-row justify-content-between align-items-center">
            <div class="d-flex align-items-center" style="font-size: 0.8em;">
                <i class="bi bi-telephone-fill me-2"></i>
                <span>+56 9 72847622 </span>
            </div>
            <div class="d-flex align-items-center mt-2 mt-lg-0" style="font-size: 0.8em;">
                <span>Sta. Elena de Huechuraba 1660</span>
                <span class="ms-4">Lun-Dom: 9:00am - 6:00pm</span>
            </div>
        </div>
    </header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
        <div class="container">
            <a class="navbar-brand fs-5" href="#">
                <img src="{% static 'img/pulmon_icon2.png' %}" alt="Icono de Pulmón" style="width: 48px; height: 48px;"
                    class="me-2">
                OncoLungNet
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link active fs-6" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#nuestra-solucion">Nuestra Solución</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#sobre-nosotros">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <a href="{% url 'inicioSesion' %}" class="btn btn-primary ms-lg-3 mx-auto px-3 py-2 d-flex">Iniciar sesión</a>
        </div>
    </nav>

    <!-- Hero Section -->
    <section id="inicio" class="hero-section d-flex align-items-center justify-content-center">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bold">Detección de Cáncer de Pulmón con IA</h1>
            <p class="lead mb-4">Utilizando algoritmos de vanguardia para detectar el cáncer de pulmón de manera
                temprana y precisa.</p>
            <ul class="list-unstyled">
                <li class="mb-3"><i class="bi bi-check-circle-fill text-primary"></i> Algoritmos avanzados de IA</li>
                <li><i class="bi bi-check-circle-fill text-primary"></i></li>
            </ul>
            <a href="#nuestra-solucion" class="btn btn-primary mt-4 px-4 py-2">CONOCE MÁS</a>
        </div>
    </section>

    <!-- Cards Section -->
    <section class="container py-5">
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100">
                    <img src="{% static 'img/analisis_tiempo_real.jpg' %}" class="card-img-top"
                        alt="Análisis en Tiempo Real">
                    <div class="card-body d-flex flex-column">
                        <i class="bi bi-heart-pulse fs-1 text-primary"></i>
                        <h5 class="card-title mt-3">Análisis en Tiempo Real</h5>
                        <p class="card-text flex-grow-1">Nuestro sistema proporciona análisis en tiempo real para ayudar
                            en la detección temprana del cáncer de pulmón.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100">
                    <img src="{% static 'img/detecion_ia.jpg' %}" class="card-img-top" alt="Imagen de Doctores">
                    <div class="card-body d-flex flex-column">
                        <i class="bi bi-brain fs-1 text-primary"></i>
                        <h5 class="card-title mt-3">Detección Impulsada por IA</h5>
                        <p class="card-text flex-grow-1">Nuestros modelos de IA están entrenados para proporcionar
                            diagnósticos altamente precisos del cáncer de pulmón.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100">
                    <img src="{% static 'img/reportes_complejos.jpg' %}" class="card-img-top" alt="Imagen de Farmacia">
                    <div class="card-body d-flex flex-column">
                        <i class="bi bi-file-earmark-medical fs-1 text-primary"></i>
                        <h5 class="card-title mt-3">Reportes Complejos</h5>
                        <p class="card-text flex-grow-1">Obtén reportes detallados y fáciles de entender para mejorar la
                            gestión de los pacientes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Secciones adicionales -->
    <section id="nuestra-solucion" class="container py-5">
        <div class="card mb-5">
            <h2 class="text-center my-4 mt-4">Nuestra Solución</h2>
            <div class="row g-0">
                <div class="col-md-6">
                    <!-- Imagen para la sección -->
                    <img src="{% static 'img/solucion.png' %}" alt="Detección de Cáncer de Pulmón" 
                        class="img-fluid card-img-top" style="max-height: 180px;">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="mt-4" style="text-align: justify;">
                            En OncoLungNet, ofrecemos una solución innovadora para la detección temprana de cáncer de pulmón
                            utilizando algoritmos avanzados de inteligencia artificial. Nuestro sistema analiza imágenes médicas
                            y datos clínicos para identificar patrones que podrían pasar desapercibidos en una revisión
                            convencional. Con un enfoque en la precisión y la rapidez, nuestro objetivo es facilitar un
                            diagnóstico más temprano, lo que puede resultar en mejores opciones de tratamiento y un impacto
                            positivo en la salud de los pacientes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="sobre-nosotros" class="container py-5">
        <div class="card mb-5">
            <h2 class="text-center my-4">Sobre Nosotros</h2>
            <div class="row g-0">
                <div class="col-md-6">
                    <!-- Imagen para la sección -->
                    <img src="{% static 'img/sobrenosotros.png' %}" alt="Sobre Nosotros" 
                        class="img-fluid card-img-top">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="mt-4" style="text-align: justify;">
                            En OncoLungNet, somos un equipo de jóvenes apasionados y comprometidos con la salud y el bienestar
                            de nuestra comunidad. Nuestra misión es utilizar la tecnología y la inteligencia artificial para
                            revolucionar la detección del cáncer de pulmón, brindando a las personas herramientas efectivas para
                            un diagnóstico temprano. Creemos que cada vida cuenta, y es por eso que nos esforzamos por
                            desarrollar soluciones accesibles y precisas que ayuden a salvar vidas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contacto" class="container py-5">
        <div class="card mb-5">
            <h2 class="text-center my-4">Contacto</h2>
            <div class="row g-0">
                <div class="col-md-6">
                    <!-- Imagen para la sección -->
                    <img style="margin-bottom: 70px;" src="{% static 'img/contacto.png' %}" alt="Contacto" 
                        class="img-fluid card-img-top">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="mt-4" style="text-align: justify;">
                            En OncoLungNet, estamos aquí para ayudarte. Ofrecemos atención 24/7, así que no dudes en
                            contactarnos si tienes alguna inquietud o consulta. Puedes llamarnos al <strong>+56 9 72847622</strong> 
                            o visitarnos en <strong>Sta. Elena de Huechuraba 1660</strong>. Estamos comprometidos con tu salud y bienestar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Footer -->
    <footer class="bg-dark text-white py-4 mt-auto">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5>Sobre Nosotros</h5>
                    <p>OncoLungNet está a la vanguardia en la detección de cáncer de pulmón, utilizando inteligencia
                        artificial para salvar vidas.</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Enlaces Rápidos</h5>
                    <ul class="list-unstyled">
                        <li><a href="#inicio" class="text-white">Inicio</a></li>
                        <li><a href="#nuestra-solucion" class="text-white">Nuestra Solución</a></li>
                        <li><a href="#contacto" class="text-white">Contacto</a></li>
                        <li><a href="#" class="text-white">Política de Privacidad</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Contáctanos</h5>
                    <p>Sta. Elena de Huechuraba 1660 <br> +56 9 72847622</p>
                </div>
            </div>
            <div class="mt-4">
                <small>&copy; 2024 OncoLungNet. Todos los Derechos Reservados.</small>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>